  <div class="help-tip"> 
   <p>该板块样式经过修改，如有需要，请查看这个链接：<a href="/dispbbs.asp?boardID=307&amp;ID=2367415&amp;page=1">ACGer 板块 CSS 美化代码分享</a></p> 
  </div> 

<style>

/* Body */

body {
    background-image: url("/skins/Default/css/blue/kabg.gif");
    background-attachment: fixed, scroll;
    background-repeat: repeat;
    background-position: 70% 70%, 0 0;
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
    opacity: .94;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tableborder5 {
    background-color: transparent;
    border: 1px solid #f66;
}

.tabletitle1 {
    background-color: #f66;
    color: #fff;
}

div.th {
    background-color: #f66;
    background-image: none;
    border-color: #f66;
}

.list {
    display: inline-block;
    overflow: hidden;
    box-shadow: 3px 0px 2px pink;
    -webkit-box-shadow: 3px 0px 2px pink;
    -moz-box-shadow: 3px 0px 2px pink;
    vertical-align: middle;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.4);
    margin-bottom: 5px;
    padding: 4px;
}

.list:active,.list:focus,.list:hover {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    animation: Bounce 1s linear 0s 1;
    -webkit-animation: Bounce 1s linear 0s 1;
    -moz-animation: Bounce 1s linear 0s 1;
    -o-animation: Bounce 1s linear 0s 1;
    -ms-animation: Bounce 1s linear 0s 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.list_a {
    background-color: transparent;
    border-right: 1px solid rgba(0,0,0,.4);
}

.list_c {
    background-color: transparent;
    border-right: 1px solid rgba(0,0,0,.4);
}

.list_r {
    border-left: 1px solid #fff;
}

.list_r1 {
    background-color: transparent;
    border-left: 1px solid rgba(0,0,0,.4);
}

.list_s {
    background-color: transparent;
    border-right: 1px solid rgba(0,0,0,.4);
}

.list1 {
    border-right: 1px solid #fff;
}

/* Mainbar */

.mainbar0 {
    background-color: rgba(0,0,0,0);
}

.mainbar3 {
    background-color: transparent;
    border-right: 1px solid #f66;
    border-bottom: 1px solid #f66;
    border-left: 1px solid #f66;
}

.mainbar4 {
    background-color: transparent;
    border-top: 1px solid #f66;
    border-right: 1px solid #f66;
    border-left: 1px solid #f66;
}

#boardmaster a:nth-child(odd) {
    -ms-animation: rainbow 2s infinite;
    -webkit-animation: rainbow 2s infinite;
    -moz-animation: rainbow 2s infinite;
    -o-animation: rainbow 2s infinite;
    animation: rainbow 2s infinite;
}

#posttopic {
    background-image: url("/skins/Default/css/button/z_postnew.gif");
}

#postvote {
    background-image: url("/skins/Default/css/button/z_votenew.gif");
}

#postpaper {
    background-image: url("/skins/Default/css/button/z_xzb.gif");
}

/* Help tip */

.help-tip {
    position: absolute;
    top: 25%;
    right: 3%;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
}

.help-tip:before {
    content: '!';
    font-weight: bold;
    color: #fff;
}

.help-tip:hover p {
    display: block;
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn .5s ease-in-out;
    animation: fadeIn .5s ease-in-out;
}

.help-tip p {
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #1E2021;
    right: 10px;
    top: -12px;
}

.help-tip p:after {
    width: 100%;
    height: 40px;
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
}

/* Font */

.blurry:hover {
    text-shadow: 0 0 0 #666;
}

p.small {
    line-height: 90%
}

p.big {
    line-height: 200%
}

/* Scroll bar */

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 0;
    border-radius: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #999;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: #6d9eeb;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/* Animation */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6)
    }

    100% {
        opacity: 100%;
        transform: scale(1)
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6)
    }

    100% {
        opacity: 100%;
        -webkit-transform: scale(1)
    }
}

@keyframes Bounce {
    0% {
        transform: translate(0,0)
    }

    15% {
        transform: translate(0,-5px)
    }

    30% {
        transform: translate(0,0)
    }

    45% {
        transform: translate(0,-2px)
    }

    60% {
        transform: translate(0,0)
    }

    75% {
        transform: translate(0,-1px)
    }

    100% {
        transform: translate(0,0)
    }
}

@-webkit-keyframes Bounce {
    0% {
        -webkit-transform: translate(0,0)
    }

    15% {
        -webkit-transform: translate(0,-5px)
    }

    30% {
        -webkit-transform: translate(0,0)
    }

    45% {
        -webkit-transform: translate(0,-2px)
    }

    60% {
        -webkit-transform: translate(0,0)
    }

    75% {
        -webkit-transform: translate(0,-1px)
    }

    100% {
        -webkit-transform: translate(0,0)
    }
}

@-moz-keyframes Bounce {
    0% {
        -moz-transform: translate(0,0)
    }

    15% {
        -moz-transform: translate(0,-5px)
    }

    30% {
        -moz-transform: translate(0,0)
    }

    45% {
        -moz-transform: translate(0,-2px)
    }

    60% {
        -moz-transform: translate(0,0)
    }

    75% {
        -moz-transform: translate(0,-1px)
    }

    100% {
        -moz-transform: translate(0,0)
    }
}

@-o-keyframes Bounce {
    0% {
        -o-transform: translate(0,0)
    }

    15% {
        -o-transform: translate(0,-5px)
    }

    30% {
        -o-transform: translate(0,0)
    }

    45% {
        -o-transform: translate(0,-2px)
    }

    60% {
        -o-transform: translate(0,0)
    }

    75% {
        -o-transform: translate(0,-1px)
    }

    100% {
        -o-transform: translate(0,0)
    }
}

@-ms-keyframes Bounce {
    0% {
        -ms-transform: translate(0,0)
    }

    15% {
        -ms-transform: translate(0,-5px)
    }

    30% {
        -ms-transform: translate(0,0)
    }

    45% {
        -ms-transform: translate(0,-2px)
    }

    60% {
        -ms-transform: translate(0,0)
    }

    75% {
        -ms-transform: translate(0,-1px)
    }

    100% {
        -ms-transform: translate(0,0)
    }
}

@keyframes rainbow {
    0% {
        color: red
    }

    10% {
        color: #ff8000
    }

    20% {
        color: #ff0
    }

    30% {
        color: #80ff00
    }

    40% {
        color: #0f0
    }

    50% {
        color: #00ff80
    }

    60% {
        color: #0ff
    }

    70% {
        color: #0080ff
    }

    80% {
        color: #00f
    }

    90% {
        color: #8000ff
    }

    100% {
        color: #f09
    }
}

@-webkit-keyframes rainbow {
    0% {
        color: red
    }

    10% {
        color: #ff8000
    }

    20% {
        color: #ff0
    }

    30% {
        color: #80ff00
    }

    40% {
        color: #0f0
    }

    50% {
        color: #00ff80
    }

    60% {
        color: #0ff
    }

    70% {
        color: #0080ff
    }

    80% {
        color: #00f
    }

    90% {
        color: #8000ff
    }

    100% {
        color: #f09
    }
}

@-moz-keyframes rainbow {
    0% {
        color: red
    }

    10% {
        color: #ff8000
    }

    20% {
        color: #ff0
    }

    30% {
        color: #80ff00
    }

    40% {
        color: #0f0
    }

    50% {
        color: #00ff80
    }

    60% {
        color: #0ff
    }

    70% {
        color: #0080ff
    }

    80% {
        color: #00f
    }

    90% {
        color: #8000ff
    }

    100% {
        color: #f09
    }
}

@-o-keyframes rainbow {
    0% {
        color: red
    }

    10% {
        color: #ff8000
    }

    20% {
        color: #ff0
    }

    30% {
        color: #80ff00
    }

    40% {
        color: #0f0
    }

    50% {
        color: #00ff80
    }

    60% {
        color: #0ff
    }

    70% {
        color: #0080ff
    }

    80% {
        color: #00f
    }

    90% {
        color: #8000ff
    }

    100% {
        color: #f09
    }
}

</style>
